.rodaPe {
    height: 200px;
    background: rgb(0, 32, 0);
    display: flex;
    justify-content: center;   
    align-items: center;
}

.conteudoRodaPe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    color: #fff;
    font-size: 0.7rem;
    box-sizing: border-box;
}

.conteudoRodaPe div {
    margin: 20px 0;

}
.conteudoRodaPe  h1 {
    
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.conteudoRodaPe div ul {
    display: flex;
}

.conteudoRodaPe div ul li {
    padding: 0 5px;
}
.conteudoRodaPe div ul li a {
    color: #fff;
}
.conteudoRodaPe div ul li svg:hover {
    color: #a09f9f;
    cursor: pointer;
}