.paginaPdf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.paginaPdf h1 {
    font-size: 1.5rem;
    font-weight: bold;

}
.paginaPdf p {
    font-size: 1.1rem;
    color: #ccc;
    margin-top: 0.6rem;
    margin-bottom: 1rem;
}

    /** formulario **/
.formPdf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 10px;
    background-color: #cccccc4d;
    overflow: hidden;
}
.formPdf label {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.formPdf textarea {
    width: 60%;
    height: 70px;
}

.formPdf label span {
    color: rgb(55, 100, 167);
    margin: 6px 0;
    font-size: 1.3rem;
    font-weight: 700;
}

.formPdf input[type=submit] {
    margin: 20px 0;
}

.formPdf .error {
    color: rgba(187, 4, 4, 0.548);
}

.botoesForm {
    margin: 30px 0;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botoesForm button,
.botoesForm input[type=submit] {
    width: 40%;
    border-radius: 15px;
    height: 40px;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    font-size: 0.8rem;
    font-weight: 700;
    background-color: rgb(1, 87, 34);
    cursor: pointer;
    box-shadow: 0px 6px  6px 0px #4b4a4a;
    transition:box-shadow 0.3s ease, background-color 0.5s ease;
}

.botoesForm button:hover,
.botoesForm input[type=submit]:hover {
    background-color: rgb(2, 146, 57);
    box-shadow: 0px 5px  6px 1px #4b4a4a;
}

/* pdf */

.containerPdf {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.pdf {
    border: 1px solid #ddd;
    margin-top: 20px;
    padding: 10px;
    width: 600px;
    height: 600px;
    overflow: auto;
}

.downloadLink {
    margin-top: 20px;
}

.botaoPdf {
    background-color: rgb(1, 87, 34);
    transition: background-color 0.5s ease;
}
.botaoPdf:hover {
    background-color: rgb(2, 146, 57) !important;
    
}


